a
{
	text-decoration: none;
    color: #1a1b38;
	cursor: pointer;
}
.hdrCont
{
	margin: 5px 0;
	background-color: #008383;
}
.hdrCont,.footerMenuContainer
{
	float:left;
	width:100%;
	position: relative;
}
.hdrWrapper
{
	float: left;
    width: 100%;
    height: 60px;
    color: #1a1b38;
	position: relative;
	margin-left: 10px;
}
.hdrLogo
{
	height: 60px;
	width: 90px;
	float: left;
    position: relative;
}
.hdrLogo svg
{
	padding-top : 10px;
}
.hdrLogo img
{
    max-width: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.hdrMenuWrapper
{
	float: left;
    width: -webkit-calc(100% - 15%);
    height: 60px;
    margin-left: 40px;
    text-align: justify;
}

.hdrmenu
{
	font-size: 15px;
    font-weight: bold;
    font-family: arial;
	float: left;
	position:relative;
	top:50%;
	transform: translateY(-50%);
	text-align: center;	
}
.hdrMenuSeparator
{
	text-align: center;
	float: left;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 30px;
}
.hdrmenu.logoutMenu
{
	float: right;
}
.dashboardBtn,
.logoutBtn
{
	cursor: pointer;
}
.dashboardBtn:hover,
.logoutBtn:hover
{
	color:#C6C730;
}