div#ballByballScoreContainer {
    width: 100%;
    float: left;
    padding: 16px;
    box-sizing: border-box;
    height: 100vh;
    align-items: center;
    //display: flex;
}

.ballByballScoreContainer {
    position: relative;
    /* left: 50%;
    width: 550px;
    margin-left: -280px;*/
    padding: 16px;
    box-sizing: border-box;
    float: left;
    vertical-align: middle;
}

div#ballByballScoreTitle {
    color: #0aa89e;
}

.scoreInfo {
    background-color: white;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    float: left;
}

div#cr_FieldGroup_id {
    display: table;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    float: left;
    position: relative;
}

input,
select {
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    width: 100%;
    padding: 0px;
    font-size: 12px;
    margin-top: 5px;
    border-bottom: 1px solid rgb(229, 230, 230);
}

label {
    display: table-header-group;
    font-size: 14px;
    color: #5a5b5b;
}

select {
    text-transform: capitalize;
}

input,
select {
    display: table-row-group;
}

input:focus+label,
select:focus+label {
    color: #0aa89e;
    font-weight: bold;
}

input:focus+label+div,
select:focus+label+div {
    border-bottom: 1px solid #0aa89e;
}

button {
    width: 45%;
    background-color: #e5e6e6;
    border: none;
    margin-top: 10px;
    padding: 10px;
    float: left;
    color: #313534;
    font-family: 'Roboto';
    text-transform: uppercase;
}

button.switchButtons {
    width: 48%;
    margin: 0 1%;
}

button.endButtons {
    width: 30%;
    margin: 0 35%;
}

.actionBtn {
    width: 100%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

button#saveBtn {
    float: left;
}

button#cancelBtn {
    float: right;
}

div#ballByballScoreTitle h1
{
    margin: 0px;
    color: white;
    font-size: 20px;
}

div#ballByballScoreTitle
{
    background-color: #0aa89e;
    padding: 10px;
}

input[type="date"]::before {
    content: attr(content);
    width: 100%;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
    display: none;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

div#cr_calIcon_id {
    background-image: url(https://unclineberger.org/images/icons/calicon.png);
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 32px;
    margin-right: 12px;
}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
    width: 25px;
    height: 25px;
    z-index: 9999;
}

@media all and (min-width:320px) and (max-width: 1024px) {
    .ballByballScoreContainer {
        width: 100%;
        left: 0px;
        margin-left: 0px;
        padding: 0px;
        height: 100vh;
    }
    div#ballByballScoreContainer {
        padding: 0px;
    }
    .parentContMatchInfo .InfoCont,
    .parentContBatterInfo .batterInfoCont {
        width: 100%;
        left: 0px;
        margin-left: 0px;
        padding: 0px;
    }
}

/*div.halfPercentWidth {
    width: 30% !important;
}*/

input[type="radio"],
input[type="checkbox"] {
    width: 15px !important;
}

.scoreInfo {
    color: #5a5b5b;
}

.parentContBowlerInfo,
.parentContBatterInfo {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}


/* css for popup starts*/

.popupBatBow,
.popupMatchInfo {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 320px;
    height: auto;
    transform: translate(-50%, -50%);
    box-shadow: 0 6px 43px 0 rgba(0, 188, 212, 0.32);
    z-index: 9999;
    background-color: white;
}

.popupBatBow .batterContentCont,
.popupBatBow .bowlerContentCont,
.matchStatusContentCont {
    padding: 10px;
    box-sizing: border-box;
}

.popupBatBow .fieldGroup,
.parentContMatchStatus .fieldGroup {
    text-align: center;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.matchStatusContentCont .labelText {
    width: 30%;
}

.matchStatusText.labelText {
    width: 100%;
}

.popupBatBow .labelText,
.popupBatBow select {
    width: 50%;
}

.popupBatBow .labelText,
.matchStatusContentCont .labelText {
    float: left;
    padding: 6px;
    box-sizing: border-box;
    text-align: left;
}

.popupBatBow select,
.matchStatusContentCont select {
    height: 32px;
    margin: 0px;
}

.matchStatusContentCont select {
    width: 70%;
}

.matchStatusTit,
.popupMatchInfoTit {
    background-color: #0aa89e;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    height: 42px;
    color: white;
}

.matchStatusTit h1,
.popupMatchInfoTit h1 {
    float: left;
    margin: 0px;
    font-size: 20px;
}

.cancelPopup {
    float: right;
    font-size: 22px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    display: none;
}

.maskContainer {
    display: none;
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    opacity: 0.5;
    overflow: hidden;
}

.matchStatusCont textarea {
    resize: none;
    outline: none;
    width: 100%;
    border: 1px solid #8080808a;
    height: 100%;
}

.popupBatBow button,
button.matchStatusbtn {
    float: none;
}

.showMask .maskContainer {
    display: block;
}

body.showMask {
    overflow: hidden;
    position: fixed;
}

input.run,
input.extrarun {
    width: 25px;
    height: 25px;
    border: 1px solid rgb(169, 169, 169);
    text-align: center;
    display: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

body.popup .cancelPopup {
    display: block;
}

body.showMask .popupBatBow {
    top: 40%;
}

.batDetailsRemoveCls {
    text-align: center;
}

.width70 {
    width: 70% !important;
}

.width30 {
    width: 30% !important;
    float: left;
}

.width15 {
    width: 15% !important;
}