body{
	background-color:#f9f9f9;
}
#container{
	width: 100%;
	margin: 0 auto;
}
#chatWindow{
	height: 300px;
	overflow: scroll;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	word-break: break-all;
	margin-bottom: 10px;
}
#mainWrapper{
	display:none;
}
#chatWrapper{
	float: left;
	border: 1px #ccc solid;
	border-radius: 10px;
	background: #f4f4f4;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#userWrapper{
	float: left;
	border: 1px #ccc solid;
	border-radius: 10px;
	background: #f4f4f4;
	padding: 10px;
	width: 150px;
	max-height: auto;
	margin-bottom: 20px;
	width: 100%;
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
    height: 150px;
}
#namesWrapper{
	float: left;
	border: 1px #ccc solid;
	border-radius: 10px;
	background: #f4f4f4;
	padding: 10px;
	margin: 0 auto;
}
#namesWrapper h2, #mainWrapper h2{
	color: #ea0050;
}
input{
	height: 30px;
	border: solid 1px #ccc;
}
#error{
	color: #ff1908;
	margin-bottom: 10px;
}
#onlineusertxt{
	color: #1ea023;
}
.onlineIcon{
	background-image: url(../images/chat2me/onlineIcon.png);
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 5px;
	background-position: 5px 3px;
	background-size: 11px 11px;
	background-repeat: no-repeat;
}
#message{
	height: 31px;
	float: left;
	width: calc(100% - 42px);
	width: -webkit-calc(100% - 42px);
}
#send{
	background-image: url(../images/chat2me/img/send.png);
	width: 40px;
	height: 35px;
	float: left;
	background-color: transparent;
	border: 0px;
	background-position: 6px -1px;
	background-size: 33px 36px;
	background-repeat: no-repeat;
	padding: 0px;
	opacity: 0.3;
}
#send.enable{
	opacity: 1;
}
#users{
    height: 110px;
    overflow: scroll;
}
.space{
	padding-left: 15px;
}