.profileContainer {
	width: 100%;
	float: left;
	padding: 16px;
	box-sizing: border-box;
	align-items: center;
}
.profile {
	position: relative;
	left: 43%;
	width: 750px;
	margin-left: -280px;
	padding: 16px;
	box-sizing: border-box;
	float: left;
	vertical-align: middle;
}
.profileTitle {
	color: #0aa89e;
	background-color: #0aa89e;
    padding: 10px;
}
.profileTitle h1 {
    margin: 0px;
    color: white;
    font-size: 20px;
}
.profileImg {
	width : 35%;
	float: left;
	margin: 50px 0;
}
.profileDetails {
	width : 50%;
	float: left;
	margin: 50px 0 0 0;
}
.playerName {
	font-size : 28px;
	font-weight: bold;
	padding: 5px 0;
	text-transform : capitalize;
}
.playerDOB , .playerRole ,.playerBat , .playerBowl {
	font-size : 20px;
	padding: 5px 0;
	text-transform : capitalize;
}
.playerMatchDetails , .playerBowlingMatchDetails {
	width : 100%;
	float : left;
	background: #f5f5f5;
}
.BattingProfile , .BowlingProfile{
	font-size: 20px;
	font-weight: bold;
	padding: 12px;
	width: 96%;
	float: left;
}
.playerMatchDetailsInfo , .playerBowlingMatchDetailsInfo{
	width : 100%;
	float : left;
	padding: 10px 0;
}
.inn {
	width : 7.5%;
	float: left;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}
.playerMatchDetailsInfo .inn ,.playerBowlingMatchDetailsInfo .inn {
	font-weight: normal;
}
.playerBowlingMatchDetails .inn , .playerBowlingMatchDetailsInfo .inn{
	width : 9%;
}
@media all and (max-width: 414px) {
	.profileImg {
		width : 100%;
		margin: 20px 0;
		text-align: center;
	}
	.profileImg img {
		border-radius: 50%; 
	}
	.profileDetails {
		width : 100%;
		text-align: center;
	}
	.playerMatchDetails , .playerBowlingMatchDetails{
		width: 30%;
	}
	.inn {
		width : 100%;
		padding: 10px 0px;
		font-size: 20px;
	}
	.playerBowlingMatchDetails .inn , .playerBowlingMatchDetailsInfo .inn{
		width : 100%;
	}
	.playerMatchDetailsInfo , .playerBowlingMatchDetailsInfo{
		width : 50%;
		padding : 0px;
	}
	.border {
		width : 20%;
		float : left;
	}
}
@media all and (min-width:320px) and (max-width: 1024px) {
	.profile {
		width: 100%;
		left: 0px;
		margin-left: 0px;
		padding: 0px;
		height: 100vh;
	}
	.profileContainer {
		padding: 0px;
	}	
}