.schedule {
	width: 100%;
	float: left;
	padding: 16px;
	box-sizing: border-box;
	align-items: center;
}
.tableInfoContainer {
	position: relative;
	left: 43%;
	width: 775px;
	margin-left: -280px;
	padding: 16px;
	box-sizing: border-box;
	float: left;
	vertical-align: middle;
}
.scheduleTitle {
	color: #0aa89e;
	background-color: #0aa89e;
	padding: 10px;
}
.scheduleTitle h1 {
	margin: 0px;
	color: white;
	font-size: 20px;
}
.chooseSeriesCont {
	width : 100%;
	float: left;
}
.selectSeries {
	width : auto;
	float: left;
}
.selectSeries h1 {
	font-size: 20px; 
	margin: 11px;
}
.matchSeriesList {
	width : 70%;
	float: left;
	font-size: 18px;
	margin: 10px;
}
.MatchList {
	width : 100%;
	float: left;
	background: #ecebeb;
	padding: 7px 0;
}
.scheduleHeader {
	width : 96%;
	float: left;
	background: #ecebeb;
	padding: 13px 0;
	margin-left: 2%;
	border-bottom: 1px solid #000000;
}
.ScheduleCont {
	width : 96%;
	float : left;
	margin-left: 2%;
}
.ScheduleResult {
	width : 100%;
	float: left;
	padding: 13px 0;
	border-bottom: 1px solid #b9b9b9;
}
.ScheduleResult .dateTime , .ScheduleResult .matchDetails , .ScheduleResult .result {
	font-weight: normal;
	text-transform: capitalize;
	text-align: left;
}
.ScheduleResult .result 
{	
	text-align: center;
}
.dateTime , .matchDetails , .result {
	float: left;
	font-weight: bold;
	text-align: center;
}
.dateTime {
	width : 20%;
}
.dateTime div {
	padding: 2px 0;
}
.matchDetails {
	width: 50%;
}
.matchDetails div {
	padding: 2px 0;
}
.result {
	width : 30%;
}
.result a {
	color: green;
	padding-bottom: 20px;
}
.liveMatch {
	color: blue !important;
}
@media all and (min-width:320px) and (max-width: 1024px) {
	.tableInfoContainer {
		width: 96%;
		left: 0px;
		margin-left: 0px;
		padding: 0px;
		height: 100vh;
	}
	.schedule
	{
		padding: 0px;
	}
}

.dateTime {
    text-align: center;
}

.ScheduleResult:last-child
{
	border-bottom : 0px;
}