select {
    text-transform: capitalize;
}

.errorPopupCont {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 320px;
    height: auto;
    transform: translate(-50%, -50%);
    box-shadow: 0 6px 43px 0 rgba(0, 188, 212, 0.32);
    z-index: 9999;
    background-color: white;
}

.errorPopupHeader {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    height: 35px;
    color: white;
}

.cancelErrDiv {
    border: 2px solid #0aa89e;
    border-radius: 50%;
    width: 20px;
    height: 18px;
    float: right;
    padding: 3px;
}

.cancelErrPopup {
    float: right;
    font-size: 22px;
    width: 20px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
    color: #0aa89e;
}

.errMsg h1 {
    margin: 0px;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    text-transform: capitalize;
}

.submitError {
    height: 30px;
    text-align: center;
    padding: 6px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 50px;
    border: 1px solid #80808080;
    background-color: #80808080;
    cursor: pointer;
}

.submitBtn {
    width: 100%;
    height: 40px;
}

.errMsg {
    padding: 10px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.maskContainer {
    display: none;
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    opacity: 0.5;
    overflow: hidden;
}

body.showMask .maskContainer {
    display: block;
}

body.showMask {
    overflow: hidden;
}