.seriesInfo
{
    background-color: white;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    float: left;
}
.createSeries {
	width: 100%;
	float: left;
	padding: 16px;
	box-sizing: border-box;
	align-items: center;
}
.seriesCreation {
	position: relative;
	left: 50%;
	width: 550px;
	margin-left: -280px;
	padding: 16px;
	box-sizing: border-box;
	float: left;
	vertical-align: middle;
}
.seriesTitle {
	color: #0aa89e;
	background-color: #0aa89e;
    padding: 10px;
}
.seriesTitle h1 {
    margin: 0px;
    color: white;
    font-size: 20px;
}
.seriesName {
	width: 100%;
}
div#cr_FieldGroup_id {
	display: table;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	float: left;
	position: relative;
}
input, select {
	border-left: none;
	border-right: none;
	border-top: none;
	outline: none;
	width: 100%;
	padding: 0px;
	height: 28px;
	font-size: 12px;
	margin-top: 5px;
	border-bottom: 1px solid rgb(229, 230, 230);
}
label {
	display: table-header-group;
	font-size: 14px;
	color: #5a5b5b;
}
input, select {
	display: table-row-group;
}
input:focus + label,select:focus + label {
	color: #0aa89e;
	font-weight: bold;
}
input:focus + label+div, select:focus + label+div
{
	 border-bottom: 1px solid  #0aa89e;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
button {
	width: 45%;
	background-color: #e5e6e6;
	border: none;
	margin-top: 10px;
	padding: 10px;
	float: left;
	color: #313534;
	font-family: 'Roboto';
}
button#saveBtn {
	float: left;
}
button#cancelBtn {
	float: right;
}
.actionBtn {
	width: 100%;
	float: left;
	padding: 10px;
	box-sizing: border-box;
}
@media all and (min-width:320px) and (max-width: 1024px) {
	.seriesCreation {
		width: 100%;
		left: 0px;
		margin-left: 0px;
		padding: 0px;
		height: 100vh;
	}
	.createSeries {
		padding: 0px;
	}	
}