h1
{
    color: #0aa89e;
    text-shadow: 2px 2px #87CEFA;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.dashBoardCont
{
    position: relative;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
	float: left;
}
.parentContainer
{
    width: 100%;
    position: relative;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}
.dashBoardDiv {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    text-align: center;
}
.categoryLink
{
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
}
.playerprofileIcon
{
    background: url(/images/dash_player.png) no-repeat 0px 0px;
    width: 150px;
    height: 150;
    background-size: 100px 100px;
    background-position: 20px;
}
.teamregistrationIcon
{
    background: url(/images/dash_team.png) no-repeat 0px 0px;
    width: 150px;
    height: 150px;
    background-size: 100px 100px;
    background-position: 22px;
}
.matchscheduleIcon
{
	background: url(/images/dash_match.png) no-repeat 0px 0px;
    width: 150px;
    height: 150px;
    background-size: 100px 100px;
    background-position: 22px;
}
.playerallocIcon
{
	background: url(/images/allocatePlayer.png) no-repeat 0px 0px;
    width: 150px;
    height: 150px;
    background-size: 100px 100px;
    background-position: 22px;
}
.selectmatchIcon
{
	background: url(/images/matchList.png) no-repeat 0px 0px;
    width: 150px;
    height: 150px;
    background-size: 100px 100px;
    background-position: 22px;
}
.createseriesIcon
{
	background: url(/images/userlist.png) no-repeat 0px 0px;
    width: 150px;
    height: 150px;
    background-size: 100px 100px;
    background-position: 22px;
}
.ballByballscoreIcon
{
	background: url(/images/ballbyball.png) no-repeat 0px 0px;
    width: 150px;
    height: 150px;
    background-size: 100px 100px;
    background-position: 22px;
}
.categoryLink a {
    color: #0aa89e;
}