body
{
    margin: 0px !important;
	font-family: 'Roboto';
	background-color: ghostwhite;
}
a
{
	text-decoration: none;
    color: #1a1b38;
	cursor: pointer;
}
div#crickzzHeader
{
    width: 100%;    
    display: inline-block;    
}
.hdrCont
{
	margin: 5px 0;
	background-color: #008383;
}
.hdrCont,.footerMenuContainer
{
	float:left;
	width:100%;
	position: relative;
}
.hdrWrapper
{
	float: left;
    width: 100%;
    height: 60px;
    color: #1a1b38;
	position: relative;
	border-bottom: 2px solid #033e33;
}
.hdrLogo
{
	height: 60px;
	width: 90px;
	float: left;
	cursor: pointer;
	position: relative;
	margin-left: 10px;
}
.hdrLogo svg
{
	padding-top : 10px;
}
.hdrLogo img
{
    max-width: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.hdrMenuWrapper
{
	float: left;
    width: -webkit-calc(100% - 43%);
    height: 60px;
    margin-left: 40px;
    text-align: justify;
}
/*.hdrMenuWrapper::after {
    content: '';
    width: 100%;
    display: inline-block;
}*/
.hdrmenu
{
	font-size: 15px;
    font-weight: bold;
    font-family: arial;
	position:relative;
	top:50%;
	transform: translateY(-50%);
	text-align: center;	
	float: left;
}
.cls_skHeaderSubMenuLabel:hover
{
	color:#C6C730;
}
.skHeaderCurrMenuHighlight
{
	color:#C6C730;
}
.hdrMenuSeparator
{
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 30px;
	float: left;
}
@media screen and (max-width: 1024px){
    .hdrmenu
    {
        width:100%;
        float:left;
        display:block;
		position:relative;
		box-sizing: border-box;
		top:0;
		transform: none;
		padding: 10px;
		text-align: center;
		border-bottom: 1px solid #000;
		animation-fill-mode: forwards;
		animation: centerMe 2s;
		opacity:0;
    }
	.hdrMenuWrapper.transformPancake
	{
		width: 100%;
		height: auto;
		margin-left: 0;
	} 
	.hdrmenu.show
	{
		opacity:1;
	}
	.teamList .hdrmenu.show
	{
		background: #fff;
	}
	@keyframes centerMe 
	{
	  0% { top: -5%; transform: translateY(0%); }
	  50% { top: -2%; transform: translateY(0%); }
	  100% { top: 0%; transform: translateY(0%); }
	}
    .hdrWrapper
    {
        float:left;
        width:100%;
        position:relative;
		text-align: center;
    }
    .hdrCont.show
	{
		height: 100vh;
		min-height: 100vh;
	}
	.hdrLogo
	{
		float:none;
		display: inline-block;
	}
	.menuIcon::after 
	{
		width: 20px;
		height: 2px;
		background-color: #000;
		top: -5px;
		content: '';
		position: absolute;
	}
	.menuIcon::before 
	{
		width: 20px;
		height: 2px;
		background-color: #000;
		top: 5px;
		content: '';
		position: absolute;
	}
	.transformPancake.menuIcon::after
	{
		top: 0px;
		transform: rotate3d(0, 0, 1, -45deg);
        -ms-transform: rotate3d(0, 0, 1, -45deg);
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
	}
	.transformPancake.menuIcon::before
	{
		top: 0px;
		transform: rotate3d(0, 0, 1, 45deg);
        -ms-transform: rotate3d(0, 0, 1, 45deg);
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
	}
	.transformPancake.menuIcon
	{
		width:0px;
	}
	.menuIconCont
	{
		position: relative;
		float: left;
		cursor: pointer;
		top: 50%;
		width: 25px;
		height: 25px;
		transform: translateY(-50%);
		text-align: left;
	}
	.menuIcon
	{
		width: 20px;
		background-color: #000;
		height: 2px;
		display: inline-block;
		position: relative;
	}
}


/* chat css starts here */
.chatIcon {
	position: fixed;
    bottom: 0px;
    right: 0;
    margin: 10px 10px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    border: 1px solid gray;
	width: 90px;
	background-color: #1b1b44;
	color: wheat;
	border-radius: 45%;
}
.blink_me
{
	animation: blinker 1s linear infinite;
	color: lightyellow;	
}
.dontShow
{
	display: none;
}
@keyframes blinker
{  
	50% { opacity: 0; }
}