.footerMenuWrapper
{
	float:left;
	width:100%;
	padding: 10px;
	padding-top: 20px;
	box-sizing: border-box;
	text-align: justify;
	position: relative;
}
div#slider1_container {
    cursor: move;
}
#livescoreCont
{
	width: 50%;
	clear: both;
    float: left;
    font-weight: bold;
    color: #808080;	
	margin-left: 25%;		
}
.scoreDetails
{
	background-color: #d3d3d3;
    width: 100%;
    float: left;
	border: 2px solid #808080;
	border-radius: 10px 10px 10px 10px;
	margin: 10px 0;
}
#scoreTeamNameCont
{
	clear: both;
	text-align: center;
    margin: 10px;
}
#scoreTeamNameDiv
{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 18px;
    text-align: center;
    color: #fff;
    background-color: #333;
	padding: 5px;
	border-radius: 5px 5px 5px 5px;
}
span#scoreTeamName
{
	text-transform: capitalize;
}
#liveScoreMatchNo
{
	text-transform: capitalize;
}
#liveScoreATeam, #liveScoreBTeam, #ytbATeam, #ytbBTeam
{
	clear: both;
}

#ytbATeam, #ytbBTeam
{
	font-size: 13px;
    margin-top: 3px;
}
.scoreDetails h1 {
	text-transform: capitalize;
}
.teamAscoreDetails, .teamBscoreDetails
{
	width: 48%;
	float: left;
	text-align: center;
	color: #333;
	margin-bottom: 7px;
}
.vs
{
	float: left;
}
.scoreDetails:first-child
{
	margin-top: 20px;
}
.scoreDetails:last-child
{
	margin-bottom: 30px;
}