.batDetailsCls,
.bowlerDetailsCls {
    float: left;
    width: 10%;
    display: inline-block;
    margin: 10px 0px;
    padding: 0px 5px;
    color: #666;
    box-sizing: border-box;
}
.resultCont,
.batsmanDetailsCont {
    float: left;
    width: 100%;
}

.batsmanHdrEl,
.bowlerHdrEl {
    float: left;
    width: 100%;
    background: #ebebeb;
}

#batsmanNameId,
#bowlerNameId {
    width: 50%;
    float: left;
}

.batsmanDetailsCont #batsmanNameId,
.bowlerDetailsCont #bowlerNameId {
    color: #1866DB;
}

.batsmanNameLink,
.bowlerNameLink {
    text-decoration: none;
}

.batsmanNameLink:hover,
.bowlerNameLink:hover {
    color: #f0f0f0;
}

#scoreDetails
{
    width: 30%;
    float: left;
    text-align: left;
    height: 20px;
    padding-top: 10px;
    padding-left: 10px;
    color: #261890;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#matchDetails {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    text-transform: capitalize;
}
#matchStatus
{
    color: #261890;
    font-weight: bold;
    padding: 10px 0;
    float: right;
    margin-right: 5px;
}
#scoreUpdateCont
{    
    font-family: Georgia;
}
.mom
{
    text-align: center;
    font-weight: bold;
    color: #0aa89e;
}
.resultCont
{
    text-transform: capitalize;
}

#id_resultHeadCont,
#scoreUpdateCont,
#matchDetails,
#idLivescoreDetails
{
    clear:both;
}

#idLivescoreDetails, #matchScoreHintCont, #idMatchDetailsCont, #separatorDiv, #dividerDiv
{
    width: 100%;
    height: 100%;
    display: inline-block;
}

#idMatchDetailsCont
{
    background-color: lightsteelblue;
}
#separatorDiv
{
    clear: both;
}
#idMatchNo {
    font-weight: bold;
    font-size: 18px;
    padding: 10px 0;
    text-align: center;
    text-transform: capitalize;
}
#dividerDiv {
    width: 96%;
    border-top: 1px solid #261890;
    vertical-align: middle;
    margin-left: 2%;
}

#matchScoreHintCont
{
    background-color: #ebebeb;
}