body
{
    margin: 0px !important;
	font-family: 'Roboto';
	background-color: ghostwhite;
}
.parentCont
{
	width: 100%;
	height: 100%;
}
.loginTitle {
	text-align: center;
	margin-top: 10%;
}

.loginCont{
	text-align: center;
	margin: 0 auto;
	padding: 64px 32px;
	width: 42%;
	background: rgba(255, 255, 255, 0.23);
	box-shadow: 0 6px 43px 0 rgba(0, 188, 212, 0.32);
}
h2.loginSubTxt
{
	margin-top: 0px;
}

div.fieldGroup
{
	position: relative;
	margin-bottom: 20px;
}
input[type="text"],input[type="password"]{
	width: 83.5%;
	padding: 15px 66px 15px 19px;
	text-align: left;
	background-color: #0aa89e75;
	border: none;
	border-left: 2px solid #0aa89e;
	font-size: 15px;
	letter-spacing: 1.5px;
	box-shadow: 0 12px 32px 0 rgba(0, 188, 212, 0.32);
}
input[type="submit"]
{
	width: 42%;
    height: 50px;
	text-align: center;
	font-size: 17px;
	background-color: #0aa89e75;
    border: 3px solid #0aa89e;
    box-shadow: 0 12px 32px 0 rgba(0, 188, 212, 0.32);
	outline: none;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
	-webkit-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	align-items: flex-start;
}

@media screen and (max-width: 1024px)
{
	.loginCont
	{
		width: 45%;
	}
}

@media all and (max-width: 800px) 
{
	.loginCont 
	{
		width: 55%;
	}
}

@media screen and (max-width: 768px)
{
	.loginCont
	{
		width: 58%;
	}
}

@media screen and (max-width: 600px)
{
	.loginCont
	{
		width: 73%;
	}
}
@media screen and (max-width: 480px)
{
	.loginCont
	{
		width: 80%;
	}
}
@media screen and (max-width: 320px)
{
	.loginCont
	{
		padding: 1.5em 1.3em;
		width: 80%;
	}
}

