.parentContMatchInfo,
.parentContBatterInfo,
.parentContBowlerInfo {
    width: 100%;
    float: left;
    padding: 16px;
    box-sizing: border-box;
    height: 100vh;
    align-items: center;
}

.InfoCont,
.batterInfoCont,
.bowlerInfoCont {
    position: relative;
    left: 50%;
    width: 550px;
    margin-left: -280px;
    padding: 16px;
    box-sizing: border-box;
    float: left;
    vertical-align: middle;
}

.matchInfoTit {
    background-color: #0aa89e;
    padding: 10px;
}

.InfoCont .matchInfoCont,
.batterContentCont,
.bowlerContentCont {
    background-color: white;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    float: left;
}

.matchInfoTit h1 {
    margin: 0px;
    color: white;
    font-size: 20px;
}

.fieldGroup {
    display: table;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    float: left;
    position: relative;
}

button {
    width: 100%;
    background-color: #e5e6e6;
    border: none;
    margin-top: 10px;
    padding: 10px;
    float: left;
    color: #313534;
    font-family: 'Roboto';
}

.hide {
    display: none;
}

.teamVs
{    
    font-weight: bold;
    float: left;
    margin: 0 10px;
}
.teamAName, .teamBName
{
    font-weight: bold;
    width: auto;
    float: left;
    text-transform: capitalize;
}

.matchNo
{
    font-weight: bold;
    float: left;
    text-transform: capitalize;
}
.matchInfoLabel
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
.batFirstTxt,
.batSecTxt,
.bowlerText {
    width: auto;
    float: left;
    margin-right: 10px;
}

@media all and (min-width:320px) and (max-width: 1024px) {
    .parentContMatchInfo .InfoCont,
    .parentContBatterInfo .batterInfoCont {
        width: 100%;
        left: 0px;
        margin-left: 0px;
        padding: 0px;
        height: 100vh;
    }
    div.parentContMatchInfo,
    .parentContBatterInfo {
        padding: 0px;
    }
}


/* CSS FOR MATCHSTATUS POPUP*/

.popupMatchInfo {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 420px;
    height: auto;
    transform: translate(-50%, -50%);
    box-shadow: 0 6px 43px 0 rgba(0, 188, 212, 0.32);
    z-index: 9999;
    background-color: white;
}

.matchInfoCont {
    width: 100%;
}

.matchStatusContentCont {
    padding: 10px;
    box-sizing: border-box;
}

.popupMatchInfo .fieldGroup {
    text-align: center;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    float: none;
    display: block;
}

.matchStatusContentCont .labelText {
    width: 30%;
    float: left;
    padding: 6px;
    box-sizing: border-box;
    text-align: left;
}
.matchStatusText.labelText {
    width: 100%;
}
.matchStatusContentCont select
{
    width: 70%;
    height: 31px;
    margin: 0px;
}
.matchStatusTit {
    background-color: #0aa89e;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    height: 42px;
    color: white;
}
.matchStatusTit h1
{
	float:left;
	margin: 0px;
    font-size: 20px;
}
.cancelPopup {
    float: right;
    font-size: 22px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}
button.matchStatusbtn {
    float: none;
}
.matchStatusCont textarea {
	resize: none;
    outline: none;
    width: 100%;
    border: 1px solid #8080808a;
    height: 100%;
}
.fieldGroup.teamWonDetails {
    color: green;
    font-size: 22px;
}