div#profileContainer {
	width: 100%;
	float: left;
	padding: 16px;
	box-sizing: border-box;
	height: 100vh;
	align-items: center;
	//display: flex;
}
.profileInfoContainer {
	position: relative;
	left: 50%;
	width: 550px;
	margin-left: -280px;
	padding: 16px;
	box-sizing: border-box;
	float: left;
	vertical-align: middle;
}
.profileInfo {
	background-color: white;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	float: left;
}
div#cr_FieldGroup_id {
	display: table;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	float: left;
	position: relative;
}
#cr_pSeriesVal_id {
	color: green;
	font-size : 20px;
	text-align: center;
    text-align-last: center;
}
#cr_series_id {
	color: red;
    text-align: center;
    font-size: 25px;
}
.divideHalf {
	width : 48% !important;
	float: left !important;
}
.matchNumber {
	pointer-events: none;
}
input, select {
	border-left: none;
	border-right: none;
	border-top: none;
	outline: none;
	width: 100%;
	padding: 0px;
	height: 28px;
	font-size: 12px;
	margin-top: 5px;
	border-bottom: 1px solid rgb(229, 230, 230);
}
label {
	display: table-header-group;
	font-size: 14px;
	color: #5a5b5b;
}
input, select {
	display: table-row-group;
}
input:focus + label,select:focus + label {
	color: #0aa89e;
	font-weight: bold;
}
input:focus + label+div, select:focus + label+div
{
	 border-bottom: 1px solid  #0aa89e;
}
button {
	width: 45%;
	background-color: #e5e6e6;
	border: none;
	margin-top: 10px;
	padding: 10px;
	float: left;
	color: #313534;
	font-family: 'Roboto';
}
.actionBtn {
	width: 100%;
	float: left;
	padding: 10px;
	box-sizing: border-box;
}
button#saveBtn {
	float: left;
}
button#cancelBtn {
	float: right;
}
div#profileTitle h1 {
	margin: 0px;
	color: white;
	font-size: 20px;
}
div#profileTitle {
	background-color: #0aa89e;
	padding: 10px;
}
input[type="date"]::before
{ 
	content: attr(content);
	width: 100%;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before
{
	display: none;
}
input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}
div#cr_calIcon_id {
	background-image: url(../images/calicon.png);
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	position: absolute;
	right: 0px;
	top: 0px;
	margin-top: 32px;
	margin-right: 12px;
}
input::-webkit-calendar-picker-indicator
{
	opacity: 0;
	width: 25px;
	height: 25px;
	z-index: 9999;
}
@media all and (min-width:320px) and (max-width: 1024px) {
	.profileInfoContainer {
		width: 100%;
		left: 0px;
		margin-left: 0px;
		padding: 0px;
		height: 100vh;
	}
	div#profileContainer
	{
		padding: 0px;
	}
}