.playerAllocation {
	width : 100%;
	float: left;
}
.selectedPlayer {
	width : 48%;
	float: left;
}
.AvailablePlayer {
	width : 48%;
	float: right;
}
.AvailablePlayer .teamAllocation .playerDetails .playerRole {
	display:none;
}
@media all and (min-width:320px) and (max-width: 1024px) {
	.selectedPlayer {
		width : 100%;
		float: left;
	}
	.AvailablePlayer {
		width : 100%;
		float: left;
	}
}
.playerList {
	color: #0aa89e;
	background-color: #0aa89e;
    padding: 10px;
}
.playerList h1 {
    margin: 0px;
    color: white;
    font-size: 20px;
	text-align: center;
}
.teamAllocation {
	width: 100%;
	float: left;
	max-height: 80%;
    overflow: hidden;
    overflow-y: auto;
}
.playerDetails {
	width: 100%;
	float: left;
	padding: 10px 0;
}
.playerDetails input {
	height: 20px;
	width: 20px;
	float: left;
}
.playerImg {
	width : 33%;
	float: left;
	text-align: center;
}
.playerName {
	width : 30%;
	float: left;
	text-align: center;
}
.playerRole {
	width : 30%;
	float: left;
	text-align: center;
}
option:first {
    color: #999;
}
button {
	width: 45%;
	background-color: #e5e6e6;
	border: none;
	margin-top: 10px;
	padding: 10px;
	float: left;
	color: #313534;
	font-family: 'Roboto';
}
button#saveBtn {
	float: left;
}
button#cancelBtn {
	float: right;
}
.actionBtn {
	width: 100%;
	float: left;
	padding: 10px;
	box-sizing: border-box;
}