.pointsTable {
	width: 100%;
	float: left;
	padding: 16px;
	box-sizing: border-box;
	height: 100vh;
	align-items: center;
}
.tableInfoContainer {
	position: relative;
	left: 50%;
	width: 600px;
	margin-left: -280px;
	padding: 16px;
	box-sizing: border-box;
	float: left;
	vertical-align: middle;
}
.pointsTitle {
	color: #0aa89e;
	background-color: #0aa89e;
	padding: 10px;
}
.pointsTitle h1 {
	margin: 0px;
	color: white;
	font-size: 20px;
}
.chooseSeriesCont {
	width : 100%;
	float: left;
}
.selectSeries {
	width : auto;
	float: left;
}
.selectSeries h1 {
	font-size: 20px; 
	margin: 11px;
}
.matchSeriesList {
	width : 70%;
	float: left;
	font-size: 18px;
	margin: 10px;
}
.pointsList {
	width : 100%;
	margin: 10px 0;
	float: left;
}
.pointsHeader {
	width : 100%;
	float: left;
	background: #ecebeb;
	padding: 7px 0;
}
.pointsContent {
	width : 100%;
	float: left;
}
.pointsHeader .team, .pointsHeader .mat , .pointsHeader .won , .pointsHeader .lost , .pointsHeader .tied , .pointsHeader .nr , .pointsHeader .pts , .pointsHeader .nrr {
	font-weight: bold;
}
.mat , .won , .lost , .tied , .nr , .pts , .nrr {
	width : 8%;
	float: left;
	text-align : center;
}
.team {
	width : 38%;
	float: left;
	padding-left: 3px;
	text-transform: capitalize;
} 
.nrr {
	width: 13%;
}
.pts {
	font-weight: bold;
}
.pointsDetails {
	width : 100%;
	float: left;
	padding: 10px 0px;
	border-bottom: 1px solid #ecebeb;
}
@media all and (min-width:320px) and (max-width: 1024px) {
	.tableInfoContainer {
		width: 96%;
		left: 0px;
		margin-left: 0px;
		padding: 0px;
		height: 100vh;
	}
	.pointsTable
	{
		padding: 0px;
	}
}