.parentCont
{
	position: relative;
    left: 43%;
    width: 850px;
    margin-left: -300px;
    padding: 16px;
    box-sizing: border-box;
    float: left;
    vertical-align: middle;
}
.scoreCardTit
{
    background-color: #0aa89e;
    padding: 10px;
}
.scoreCardTit h1
{
    margin: 0px;
    color: white;
    font-size: 20px;
	text-transform: capitalize;
}
.scoreCardInfoCont
{
	float: left;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
	padding:0px 5px;
}
.innings {
	width : 100%;
	float: left;
	text-transform: capitalize;
	font-weight: bold;
	padding: 10px 0;
	background: #d6e4ec;
	margin: 10px 0;
}
.batsman ,.total{
	width: 60%;
	float: left;
	text-transform: capitalize;
}
.score {
	width: 40%;
	float: left;
	font-weight: bold;
}
.batstatusBar {
	width: 7%;
	float: left;
}
.bowler{
	width: 30%;
	float: left;
	text-transform: capitalize;
}
.bowlstatusBar {
	width: 10%;
	float: left;
}
.battingStatusBar ,.battingStatus , .bowlingStatusBar , .bowlingStatus{
	width : 100%;
	float: left;
	border-bottom: 1px solid grey;
    padding: 10px 0;
}
.battingStatusBar ,.total ,.bowlingStatusBar{
	font-weight: bold;
}
.batsmanName {
	width: 40%;
	float: left;
}
.batsmanstatus {
	width:58%;
	float: left;
	opacity: .8;
	text-transform: none;
}
.batsName {
	text-transform: capitalize;
}
.didNotBat {
	width: 100%;
	float: left;
	padding: 10px 0;
	text-transform: capitalize;
}
.YetToBat {
	float: left;
	font-weight: bold;
	padding-right: 5px;
}

.matchInfo {
	width : 100%;
	float: left;
	border-bottom: 1px solid grey;
	padding: 10px 0px;
	text-transform: capitalize;
}
.detailsName {
	width : 30%;
	float : left;
}
.detailsNameCont {
	width: 68%;
	float: left;
}
.detailsTeamName {
	width: 100%;
	float: left;
	padding: 10px 0;
	font-weight: bold;
}
.remainingbatsman span:last-child {
  display: none;
}
.detailsNameCont span:last-child {
  display: none;
}
@media all and (min-width:320px) and (max-width: 1024px) {
	.parentCont
	{
	    width: 96%;
	    left: 0px;
	    margin-left: 0px;
	    padding: 0px;
	    height: 100vh;
	}
}