.parentCont
{
    position: relative;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    float: left;
}
.matchlistTitle
{
    background-color: #0aa89e;
    padding: 10px;
}
.matchlistTitle h1
{
    text-align: center;
    margin: 0px;
    color: white;
    font-size: 20px;
}
.chooseSeriesCont
{
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
}
.parentMatchListCont
{
    position: relative;
    left: 43%;
    width: 800px;
    margin-left: -300px;
    padding: 16px;
    box-sizing: border-box;
    float: left;
    vertical-align: middle;
}
.matchListCont
{
    width: 100%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
}
.matchSeriesId
{
    width: auto;
    margin-right: 10px;
}
select.matchSeriesList
{
    width: 50%;
    height: 40px;
	display: inline-block;
    margin-left: 10px;
}
.selectSeries
{
    display: inline-block;
}
.matchDate,.mDateTime
{
    width: 20%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.matchVenueDet,.matchListDet
{
    width: 50%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.matchId,.matchSummaryDet
{
    width: 30%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
.matchTime{
    width: 18%;
    float: left;
    height: 28px;
    text-align: center;
    padding: 10px;
    line-height: 28px;
    border-right: 1px solid;
}
.matchDetailContainer
{
    width: 100%;
    border-left: 1px solid;
    float: left;
    border-right: 1px solid;
}
.hide
{
	display:none;
}
div[class^=match_] {
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid;
    padding-top: 10px;
}
div.matchIdBtn {
    padding: 10px;    
    margin-top: 20px;
    float: left;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    border-radius: 15px;
}
.matchSummary
{
    width: 100%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 20px;
}
.matchHeaderContainer
{
    width: 100%;
    float: left;
    border: 1px solid;
    font-weight: bold;
}
@media (max-width: 1024px) and (min-width: 320px)
{
	.parentMatchListCont
	{
	    width: 96%;
	    left: 0px;
	    margin-left: 0px;
	    padding: 0px;
	    height: 100vh;
	}
	.parentCont
	{
		padding : 0px;
	}
}
.errorAlert {
    animation: blinker 0.5s linear infinite;
    color: red;
    margin-top: 10px;
}
@keyframes blinker {  
  50% { opacity: 0; }
}

.matchDetailsCont
{
    box-sizing: border-box;
    border-radius: 30px;
    padding: 15px;
}
.matchDetailsCont.matchUpdate
{
    background-color: lightcoral;
}
.matchDetailsCont.matchStart
{
    background-color: lightblue;
}
.matchDetailsCont.matchInfo
{
    background-color: mediumseagreen;
}
.matchListTime {
    margin-top: 15px;
}
.matchNo, .matchAgaistTeam, .matchVenue
{
    text-transform: capitalize;
}
.matchNo, .matchAgaist, .matchVenue
{
	padding:0 0 10px 0;
}