#parentContStartInnings,
.parentContPlayingEleven {
    width: 100%;
    float: left;
    padding: 16px;
    box-sizing: border-box;
    height: 100vh;
    align-items: center;
}
#parentContStartInnings .inningsContainer,
.parentContPlayingEleven .InfoCont {
    position: relative;
    left: 50%;
    width: 650px;
    margin-left: -280px;
    padding: 16px;
    box-sizing: border-box;
    float: left;
    vertical-align: middle;
}
#parentContStartInnings div#inningsTitle,
.parentContPlayingEleven .headerContainer {
    background-color: #0aa89e;
    padding: 10px;
}
#parentContStartInnings .inningsInfoCont,
.parentContPlayingEleven .playingLevenInfoCont {
    background-color: white;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    float: left;
}
#parentContStartInnings .fieldGroup,
.parentContPlayingEleven .fieldGroup {
    display: table;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    float: left;
    position: relative;
}
#parentContStartInnings input {
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    width: 100%;
    padding: 0px;
    height: 28px;
    font-size: 12px;
    margin-top: 5px;
    border-bottom: 1px solid rgb(229, 230, 230);
    display: table-row-group;
}
.parentContPlayingEleven input {
    display: table-row-group;
}
#parentContStartInnings label {
    display: table-header-group;
    font-size: 14px;
    color: #5a5b5b;
}
#parentContStartInnings input[type="radio" i],
.parentContPlayingEleven input[type="radio"],
.parentContPlayingEleven input[type="checkbox"] {
    width: auto;
    height: auto;
    float: left;
}
#parentContStartInnings input:focus+label {
    color: #0aa89e;
    font-weight: bold;
}
#parentContStartInnings input:focus+label+div {
    border-bottom: 1px solid #0aa89e;
}
#parentContStartInnings div#inningsTitle h1,
.parentContPlayingEleven .playingLevenTit h1 {
    margin: 0px;
    color: white;
    font-size: 20px;
}
#parentContStartInnings .fieldGroup_dropdown {
    display: table;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    float: left;
    position: relative;
}
label.overs,
label.deliveries,
label.maxOvers {
    float: left;
    margin-right: 10px;
    padding: 5px;
}
select#overs,
select#deliveries,
select#maxOvers,
select#numBowlForMaxOver {
    width: 40px;
    height: 30px;
    float: left;
}
.deliveries {
    line-height: 0px;
    padding: 0px 5px !important;
    margin: 0px !important;
}
.parentContPlayingEleven .playName,
.parentContPlayingEleven .playRole,
.parentContPlayingEleven .radioText,
.playImg {
    width: auto;
    margin-right: 5px;
    float: left;
    text-transform: capitalize;
}
#parentContStartInnings .fieldGroup div.radioText {
    font-size: 12px;
    width: auto;
    float: left;
    padding: 5px;
}
#parentContStartInnings label.numBowlForMaxOver {
    float: left;
    margin-right: 10px;
}
#parentContStartInnings button#submitBtn,
.parentContPlayingEleven button {
    width: 100%;
    background-color: #e5e6e6;
    border: none;
    margin-top: 10px;
    padding: 10px;
    float: left;
    color: #313534;
    font-family: 'Roboto';
}
.hide {
    display: none !important;
}
.parentContPlayingEleven .teamName {
    color: #0aa89e;
    font-size: 18px;
    text-transform: uppercase;
}
.parentContPlayingEleven .playerImg {
    width: 30px;
    height: 30px;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}
.parentContPlayingEleven .playerImg img {
    width: 100%;
    height: 100%;
}
@media all and (min-width:320px) and (max-width: 1024px) {
    #parentContStartInnings .inningsContainer,
    .parentContPlayingEleven .InfoCont {
        width: 100%;
        left: 0px;
        margin-left: 0px;
        padding: 0px;
        height: 100vh;
    }
    
    div#parentContStartInnings,
    div.parentContPlayingEleven {
        padding: 0px;
    }
}
.fieldGroupLeftCont {
    float: left;
    width: 60%;
}
.teamNameDiv {
    padding: 10px;
}