body
{
    background-image: url("https://1.bp.blogspot.com/-k4cbngU5IPk/WaJ3o6rVcpI/AAAAAAAAITE/mo1H9e1liKooCxqH60tWI9S68vCh6vEVACLcBGAs/s1600/Wonderful%2BCricket%2BGround%2BHD%2BWallpapers.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.teamDetail {
    position: relative;
    height: 100%;
    width: 100%;
	float:left;
}

.teamInfo {
    width: 100%;
    height: 100%;
    float: left;
    margin-top: 40px;
    position: relative;
}

.teamInfo:after {
    content: '';
    transition: all .5s linear;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: transparent;
    z-index: -1;
}

.teamInfo.show:after {
    background-color: rgba(0, 0, 0, 0.5);
}

.f1_container {
    float: left;
    margin: 15px 0px 0px 1.2%;
    width: 300px;
    height: 268px;
    z-index: 1;
}

.f1_container {
    perspective: 1000;
}

#f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

.rotate #f1_card {
    transform: rotateY(180deg);
    /*box-shadow: -5px 5px 5px #aaa;*/
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: #101010;
    text-align: center;
    background-color: #FFF;
    border-radius: 10px;
    /*border: #8BC34A 3px inset;*/
    background: linear-gradient(to right, #333, #fff 6%, #fff 93%, #333);
}

.teamLogo img {
    width: 46%;
}

.teamName {
    width: 100%;
    margin-top: 15px;
	float: left;
	font-size: 19px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.teamLogo {
	width: 100%;
    float: left;
}

.teamCaptain,
.teamVCaptain,
.teamOwner {
    height: 19px;
    margin-top: 7px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
	float: left;
	text-transform: capitalize;
}


/* Dropdown start */

.sclDrpYear {
    position: absolute;
    cursor: pointer;
	right: 42px;
    top: 3px;
    height: auto;
    width: 150px;
    font-size: 24px;
    font-family: sans-serif;
    letter-spacing: 4px;
    border-radius: 25px;
    border: #8BC34A 1px ridge;
    -moz-box-shadow: 13px 9px 5px 2px #1010106e;
    -webkit-box-shadow: 13px 9px 5px 2px #1010106e;
    box-shadow: 13px 9px 5px 2px #1010106e;
    z-index: 999;
    background-color: #ffffffc7;
}

.sclDrpShowYr {
    height: 30px;
}

.sclDrpSelectedYr,.sclYearElm
{
    height: 100%;
    font-size: 14px;
    text-align: center;
    padding: 6px;
    box-sizing: border-box;
}

.sclDrpArrow {
    position: absolute;
    top: -16px;
    right: -10px;
    height: 50px;
    width: 50px;
    background-image: url("http://www.apollo-sports.com.pk/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/a/p/apollo_vortex-5_cricket_ball.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.sclYearElmCont {
    display: none;
}

.sclYearElm {
    border-top: #8BC34A 1px ridge;
}


/* Dropdown End */

@media (min-width: 375px) and (max-width: 812px) {
    .f1_container {
        width: 300px;
        height: 270px;
        margin: 15px 9px 0px 8px;
    }
    .teamLogo {
        height: 60%;
        width: 100%;
    }
    .teamCaptain,
    .teamVCaptain,
    .teamOwner {
        height: 15px;
        margin-top: 8px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 375px) {
    .teamCaptain,
    .teamVCaptain,
    .teamOwner {
        height: 18px;
        margin-top: 1px;
        font-size: 12px;
    }
    .f1_container {
        width: 300px;
        height: 345px;
        margin: 35px 0px 0px 31px;
    }
    .teamInfo {
        margin-top: 135px;
    }
    .sclDrpYear {
        top: -5px;
        left: 0px;
        width: 115px;
        font-size: 20px;
        /* font-weight: bold; */
        letter-spacing: 3px;
        /* border-width: 1px; */
        border-radius: 11px;
        box-shadow: 9px 7px 5px 0px #1010106e;
    }
    .sclDrpSelectedYr {
        margin-left: 15px;
    }
    .sclDrpShowYr {
        height: 25px;
    }
    .sclDrpArrow {
        top: -16px;
        right: 2px;
        height: 45px;
        width: 45px;
    }
    .teamInfo {
        width: 100%;
        height: 100%;
        float: left;
        margin-top: 62px;
        position: relative;
    }
    .sclYearElm {
        padding: 4px 4px 4px 30px;
    }
    .f1_container {
        width: 300px;
        height: 200px;
        margin: 5px 3px 0px 3px;
    }
    .face.back {
        padding: 3px;
        border-radius: 10px;
    }
    .teamName {
        letter-spacing: 1px;
    }
    .teamName span {
        min-width: 3px;
        font-size: 13px;
    }
    .teamLogo {
        height: 54%;
        width: 100%;
    }
    body {
        background-image: url("https://s3.amazonaws.com/uploads.hipchat.com/49247/2102281/VhMMIhq8I1wqbWU/backround_mobile.png");
    }
}