.squadTitle
{
	color: #0aa89e;
    text-shadow: 2px 0px #455158;
    font-size: 33px;
    text-align: center;
    font-weight: bold;
}
.teamSquadCont 
{
    width: 89%;
    height: 100%;
    margin: 0 auto 0 auto;
    position: relative;
}
.SquadPlayerOutCont 
{
    float: left;
    width: 22%;
    min-width: 300px;
    height: 280px;
    margin: 17px 0 0 2.4%;
    background: #d6e4ec;
}
.squadSubCont
{
    height: 100%;
}
.playerImg 
{
    width: 200px;
    height: 200px;
    border-radius: 103px;
}
.ts_playerImgCont
{
	width: 100%;
    height: auto;
    margin: 14px auto 0 auto;
    text-align: center;
}
.ts_playerName 
{
    font-size: 20px;
    text-align: center;
    margin-top: 4px;
    color: #0aa89e;
    text-shadow: 1px 1px #455158;
    font-weight: bold;
    text-transform: capitalize;
}
.ts_playerRole {
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    color: #6c8ba6;
    font-weight: bold;
    margin-top: 2px;
}