<html>	
	<head>
		<title>Galley</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/css/header.css">
		<link rel="stylesheet" type="text/css" href="/css/gallery.css">
		<script src="/lib/jquery.js"></script>
		<script src="/js/common.js"></script>
		<script src="/js/header.js"></script>
		<script src="/js/gallery.js"></script>
	</head>

	<body>		
		<div class = "galleryMainCont">
			COMING SOON ...
		</div>
	</body>
</html>