<div class="contentCont"> 
    <div class="userName">${response.username}</div>
    <div class="parentDetail">${response.parent}</div>
    <div class="read">${response.read}</div>
    <div class="wirte">${response.write}</div>
    <div class="update">${response.update}</div>
    <div class="delete">${response.delete}</div>
</div>